@page "/"
@rendermode InteractiveServer
@using Pokedex.Components.Models
@using Pokedex.Components.Util
@inject PokeClient client
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>
<div class="container">
    <img class="text-center w-75" src="img/PokedexBlazor.png" alt="Title" />
    <div class="row g-4 d-flex flex-wrap justify-content-center align-items-center">
        @foreach (var pokemon in pokemons)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card pokemon-card border-0 rounded" style="height: 100%;" @onclick="() => NavigateToDetails(pokemon.id)">
                    <!-- ID Badge in the Corner -->
                    <div class="pokemon-id-badge">
                        <strong>#@pokemon.id</strong>
                    </div>
                    <img src="@pokemon.sprites.front_default" class="card-img-top rounded-top" alt="@pokemon.name" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title pokemon-name">@pokemon.name</h5>
                        <div class="mb-2">
                            <div class="d-flex justify-content-center gap-1 mt-1">
                                @foreach (var type in pokemon.types)
                                {
                                    <span class="type-badge" style="background-color:@(TypeColor.GetColor(type.type.name))">@type.type.name.ToUpper()</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@if (pokemons.Count == 0)
{
    <div class="text-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Loading Pokémon...</p>
    </div>
}

@code {
    List<Pokemon> pokemons = new List<Pokemon>();

    protected override async Task OnInitializedAsync()
    {
        var tasks = new List<Task<Pokemon>>();
        for (int i = 1; i <= 151; i++)
        {
            tasks.Add(client.GetPokemon(i.ToString()));
        }

        pokemons = (await Task.WhenAll(tasks)).ToList();
    }

    private void NavigateToDetails(int pokeID)
    {
        Navigation.NavigateTo($"/pokeapi/{pokeID}");
    }
}
