.pokemon-img {
    max-width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.type-badge {
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 5px;
    border-radius: 15px;
}

.card {
    border-radius: 15px;
}

.progress {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    font-weight: bold;
    text-align: center;
}
